.seemore-button {
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: none;
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  padding: 16px 0;
  width: 296px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.seemore-button:active {
  box-shadow: inset 0px 2px 2px 5px rgba(0, 0, 0, 0.25);
}
