.recommend-item {
  display: flex;
  flex-direction: column;
  background-color: var(--black-background);
  height: 144px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 24px 8px;
}

.recommend-item .item-title {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.11px;
  color: #ffcc21;
}

.recommend-item .break {
  width: 56px;
  background: var(--white);
  border: 1px solid var(--white);
  margin: 10px 0px 8px 0px;
}

.recommend-item .item-title {
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
