.header {
  width: 100%;
  background-color: var(--black-main);
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.160784);
  font-family: var(--font-noto);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
}

.logo {
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 109px;
  cursor: pointer;
}

.navbar-list {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link span {
  margin: 0 2.5rem 0 1rem;
}

.dropdown-menu {
  position: relative;
}

.dropdown-list {
  left: -250px;
  top: 33px;
  position: absolute;
  width: 280px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.dropdown-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 26px;
  padding: 23px 32px;
  mix-blend-mode: normal;
}

.dropdown-menu-icon {
  cursor: pointer;
}

.notice {
  position: relative;
}

.notice-count {
  position: absolute;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  background: #ea6c00;
  left: 23px;
  top: -1px;
  border-radius: 50%;
}
