.footer {
  margin-top: 64px;
  padding: 56px 150px 56px 100px;
  background-color: var(--black-main);
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  font-size: 11px;
}
