* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-noto: 'Noto Sans JP', sans-serif;
  --white: #ffffff;
  --primary-logo-icon: #ffcc21;
  --primary-notification: #ff963c;
  --primary-color-three: #ea6c00;
  --secondary-graph: #8fe9d0;
  --gradation: linear-gradient(
    180deg,
    var(--primary-logo-icon) 0%,
    var(--primary-color-three) 100%
  );
  --black-background: #2e2e2e;
  --black-main: #414141;
  --gray: #777777;
}

body {
  margin: 0;
  font-family: var(--font-noto);
  color: var(--white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}
